footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 30px;
    background: #F1A87E;
    color: #FAF6E0;
}

.footer-desc{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.footer-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}